@import "overrides_P7";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//-------------------Globals-------------------------\\
// Couleur texte publis #001427
#filActu a{
    text-decoration: none;
    color: #001427;
}

#singlePost a{
    text-decoration: none;
    color: #001427;
}

.btn-warning{
    color: white;
}

h4{
    font-weight: bold;
}

.date_publi{
    font-size: 0.9rem;
}

.likes{
    margin-left: 5%;
}

.comment_content{
    margin-left: 40px;
}

#publishNewPost{
    float : right;
}

h6{
    margin-left: 3.5%;
}

h3{
     margin-left: 2.5%;
}

.envoiComment{
    margin-top: -1%;
}

.ajoutComment{
    margin-left: 7%;
}

.suppPost{
    float: right;
    margin-right: 5%;
}

.suppComment{
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}

#profile_picture{
    height: 400px;
    width: 400px;
    object-fit: cover;
}

#profilePictureChange{
    width: 400px;
}

.PP_actu{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.PP_comment{
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.text_publi{
    padding-left: 3%;
}

.name_creator{
    vertical-align: sub;
}

.image_publi img{
    width: 100%;
    height: 40%;
    object-fit: cover;
}

// ----------------- Header PC ------------------\\
header {
    color: white;
    font-size: 1.2em;
}
.monProfil {
    margin-left: 55%;
    font-weight: bold;
    color: white;
}

.monProfil a{
    text-decoration : none;
    color: white;
}

// --------------------- Profil utilsateur PC ---------------------\\
#userProfile article{
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
}

#profilePicture{
    display: flex;
    flex-direction: column;
}

// --------------------- Post PC ------------------- \\