@import "overrides_P7";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//-------------------Globals-------------------------\\
// Couleur texte publis #001427
#filActu a{
    text-decoration: none;
    color: #001427;
}
#content{
    color: black;
}

#name_user{
    color: #006d77;
}
.btn-warning{
    color: white;
}

h4{
    font-weight: bold;
}

#date_publi{
    font-size: 0.9rem;
}

#like{
    width: 15%;
}

#publishNewPost{
    float : right;
}

h6{
    margin-left: 3.5%;
}

h3{
     margin-left: 2.5%;
}

.envoiComment{
    margin-top: -1%;
}

.ajoutComment{
    margin-left: 7%;
}

.suppPost{
    float: right;
    margin-right: 5%;
}

.suppComment{
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}

// ----------------- Header PC ------------------\\
header {
    color: white;
    font-size: 1.2em;
}
.monProfil {
    margin-left: 55%;
    font-weight: bold;
    color: white;
}

.monProfil a{
    text-decoration : none;
    color: white;
}

// --------------------- Profil utilsateur PC ---------------------\\
#userProfile article{
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
}

#profilePicture{
    display: flex;
    flex-direction: column;
}

// --------------------- Post PC ------------------- \\